# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Local .env files
.env

# Project-specific environment variables
.env.*

# Compiled files and folders
bin/
dist/
tmp/
!bin/.keep
!dist/.keep
!tmp/.keep

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log

# Others
.DS_Store
node_modules/
